.register-form_content {
    margin: 0 auto;
    padding: 30px 15px;
    background:#ddd;
}

.register-form_heading {
    margin-bottom: 40px;
    text-align: left;
}

.form {
    margin: 0 auto;
    width: 100%;
    background:#ddd;
    float: left;
}

.form_group {
    display: block;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form_label--required {
    margin-left: 5px;
    padding: 2px 3px;
    border-radius: 3px;
    background: #ff0000;
    color: #ffffff;
}

.form_error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form_input--text input,
.form-input--image input,
.form_input--textarea textarea {
    margin-top: 15px;
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form_input--text input {
    height: 40px;
}

.form_input--textarea textarea {
    height: 180px;
}

.form_button {
    display: flex;
    margin-top: 30px;
}

.form_button-return {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ddd;
    color: #000;
    cursor: pointer;
}

.form_button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #f5c800;
    color: #000;
    cursor: pointer;
}